.header{
    background-color: #FFFFFF;
}

.header__div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__req{
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #111517;
    display: inline;
}

.header__mode{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #111517;

}

.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1320px;
    width: 100%;
}